{% extends 'layout.html' %}
{% block content %}
    <section class="blog-post-area section-margin">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <span style="color: #000000bd; font-size: 40px;">
                        <center>
                            WEEKEND PLANNING
                        </center>
                    </span>

                    <div class="row" id="card_div">
                        {% for l in locations %}
                        <div class="col-md-6">
                            <div class="single-recent-blog-post card-view py-2 d-flex flex-column justify-content-center align-items-center" style="border: 1px solid black;">
                                <div class="thumb" style="height:290px; width:500px;">
                                    <img class="card-img rounded-0" id="weekend-image" src="{{ l.image }}" alt="">
                                </div>
                                <div class="details text-center">
                                    <a href="#" style="color:#000;">
                                        {{ l.name }}
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div> 
                </div>
            </div>
    </section>
    {% endblock %}
   